* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

canvas {
    padding: 0;
    margin: 100px auto 0px;
    display: block;
    background: #e8eaf6;
}