canvas{
   
    margin:0 auto;
    display:block;
}
#button{
    display: block;
    margin: 0 auto;
    width:120px;
    height: 50px;
    display:  none;
    border: 1px solid black;
    background:gray;
    color:#fff;
}